header .fa-chevron-down{
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 36px;
    left: 49%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-animation: bounce 1.6s infinite;
            animation: bounce 1.6s infinite;
    color: #ffffff;
}

#prices .price-wrap{
    width: 80%;
} 

@media (min-width: 1200px){
    #aboutme-hero .jumbotron{
        padding: 100px 0;
    }

    #prices .price-wrap{
        width: 85%;
    }

    #team .card-text{
        font-size: 16px;
    }
}

@media (min-width: 1400px){
    #aboutme-hero .jumbotron{
        padding: 120px 0;
    }
}

@media (min-width: 1800px){
    #team .card-text{
        font-size: 18px;
    }
}

@media (min-width: 2000px){
    #aboutme-hero .jumbotron{
        padding: 100px 0;
    }

    #prices .price-wrap{
        width: 70%;
    }
}